/*----------------- 전역 CSS -----------------*/
body{
    font-family: 'SUITE-Regular';
    font-weight: 400;
    scroll-behavior: smooth;
}

html:hover{ /* 웹사이트 접속 시 마우스커서가 바뀌도록 수정*/
    cursor:url(./imgres/cursor.png), auto;
}


/*----------------- 인원수 -----------------*/

#board-info #viewers-area #viewers:before {
    content: "포식자 곁 캔냥이 ";
    cursor: text;
}

#board-info #viewers-area {
    font-weight: 900;
    color: rgb(0 169 255);
}

#board-info #viewers-area #viewers:after {
    content: "마리!"; 
    cursor: text;
}