/*----------------- 전역 CSS -----------------*/
body{
    font-family: 'SUITE-Regular';
    font-weight: 400;
    scroll-behavior: smooth;
}

html:hover{ /* 웹사이트 접속 시 마우스커서가 바뀌도록 수정*/
    cursor:url("https://black-chi.github.io/bkchiTgdCss/imgres/cursor.png"), auto;
}

#board-info #board-info-profile-img {
    width: 4.5em;
    height: auto;
    margin-right: 8px;
}

#board-info h1>a:not(.badge-live) {
    padding-left: 30px;
    font-size: 32px!important;
    font-weight: 700;
    color: #000000;
}


/*----------------- 인원수 -----------------*/

.fa-user:before {
    content: url("https://black-chi.github.io/bkchiTgdCss/imgres/18_3.png");
}

#board-info #viewers-area #viewers:before {
    content: "포식자 곁 캔냥이 ";
    cursor: text;
}

#board-info #viewers-area {
    font-weight: 900;
    color: rgb(0 169 255);
}

#board-info #viewers-area #viewers:after {
    content: "마리!"; 
    cursor: text;
}